{% extends 'web/base.html'%}
{% block title %}Recommendations{% endblock %}
{% block body %}



<div class="container-fluid">
    <h2>Recommendations for You </h2>
    <h4> Below products are ranked based on recommedations</h4>
</div>


<div class="row">
    {% if movie_list %}
    {% for movie in movie_list %}
    <div class="col-sm-2 col-md-2 ">
        <div class="thumbnail">
            <h4>{{movie.title}}</h4>
            <a href="{% url 'detail' movie.id %}">
                <div class="image-container">
                    <img src="{{ movie.movie_logo.url}}" class="img-responsive">
                </div>
            </a>
            <h6>{{movie.genre}}</h6>
            <div class="caption">

                <!--View Details -->
                <a href="{% url 'detail' movie.id %}" class="btn btn-primary btn-sm" role="button">Buy Now</a>


            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

</div>

{% endblock %}
